.app {
    width: 1000px;
    margin: 0 auto;

    .app__header,
    .app__content {
        width: 100%;
        text-align: center;
    }

    .app__content {
        nav {
            a {
                margin: 0 20px;
            }
        }
    }
}
