<div class="app">
    <div class="app__header">
        <header>
            <h1>Welcome to CIaaS</h1>
        </header>
    </div>
    <div class="app__content">
        <nav>
            <a [routerLink]="['/gitlab']" routerLinkActive="active">
                GitLab
            </a>
            <a [routerLink]="['/circleci']" routerLinkActive="active">
                CircleCI
            </a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>
