<div>
    <app-settings>
        <h4>
            GitLab Settings - new test!!!
        </h4>
    </app-settings>
    <app-render>
        <p>
            testing notifications for GitLab
        </p>
    </app-render>
</div>
